:root {
  --white: #f2e8f9;
  --principal: #361965;
  --secondary: #46218e;
  --details: #9150ee;
  --black: #000016;
}


section {
  display: flex;
}

section h1 {
  margin: 50px;
  font-size: 2em;
}

.form__container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

input,
textarea {
  color: var(--white);
  font-size: 1.5em;
  background-color: var(--details);
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin: 10px;
  padding: 5px 20px;
}

input::placeholder,
textarea::placeholder{
  color: var(--white);
}

.textarea {
  height: 200px;
  padding: 20px;
  resize: none;
}

button {
  align-self: end;
  width: 200px;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  border: none;
}

img {
  height: 80px;
}

.social-media__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  text-align: center;
}

.social-media__items {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
}
