:root {
  --white: #f2e8f9;
  --principal: #361965;
  --secondary: #46218e;
  --details: #9150ee;
  --black: #000016;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
  background-color: var(--principal);
  color: var(--white);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 22, 1) -10%,
    rgba(54, 25, 101, 1) 40%,
    rgba(145, 80, 238, 1) 500%
  );
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Koulen";
  height: 220px;
  box-shadow: 0px 10px 15px -3px var(--black);
  background: rgb(0, 0, 22);
  background: linear-gradient(
    20deg,
    rgba(0, 0, 22, 1) 0%,
    rgba(54, 25, 101, 1) 80%,
    rgba(145, 80, 238, 1) 500%
  );
  z-index: 11;
}

.header__logo {
  justify-self: start;
  width: 110px;
  margin: 0px;
}

.header__button {
  display: none;
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 10px;
  background: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
  filter: invert(1);
}

.header__nav {
  width: 60%;
  height: 220px;
}

.header__nav__ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header__nav__a {
  text-decoration: none;
  font-size: 2em;
  color: var(--white);
  transition: 200ms ease-in-out;
  width: 300px;
}

.header__nav__a:hover {
  font-size: 2.2em;
  width: 20px;
}

.header__nav__a:visited {
  color: var(--white);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header__nav {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 150px;
  }

  .header__nav {
    position: fixed;
    z-index: 5;
    height: 120vh;
    top: -15px;
    right: 0;
    width: 60vw;
    background: linear-gradient(
      20deg,
      rgba(0, 0, 22, 1) 0%,
      rgba(54, 25, 101, 1) 80%,
      rgba(145, 80, 238, 1) 500%
    );
    display: flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    transition: 300ms ease-in;
  }

  .header__nav__ul {
    flex-direction: column;
    height: 50%;
  }

  .header__button {
    display: block;
  }
}
