.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__description {
  background-image: linear-gradient(
      rgba(54, 25, 101, 0.7),
      rgba(54, 25, 101, 0.7)
    ),
    url("../static/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  min-height: 75vh;
  width: calc(100% - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

.main__description__text {
  width: 40%;
  font-size: clamp(1.7rem, 2vw, 3rem);
  font-weight: 300;
  text-align: right;
}

.main__description__text--violeta {
  font-weight: 900;
  color: var(--principal);
  font-size: clamp(2.2rem, 3vw, 4rem);
  filter: drop-shadow(0px 0px 2px white);
}

.main__dueno {
  margin: 50px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
  min-height: 70vh;
}

.main__dueno__text {
  max-width: 700px;
}

.main__dueno__title {
  font-size: clamp(2rem, 2vw, 4rem);
}

.main__dueno__p {
  font-size: clamp(1.7rem, 2vw, 2rem);
  font-weight: 300;
  text-align: justify;
}

.main__dueno__photo {
  height: clamp(250px, 35vh, 700px);
  margin: 0 0 0 90px;
  border-radius: 9px;
}

@media screen and (max-width: 900px) {
  .main__dueno {
    flex-direction: column-reverse;
  }
  .main__dueno__photo {
    margin: 0;
  }

  .main__dueno__text {
    width: 95%;
    text-align: center;
  }

  .main__dueno__p {
    text-align: center;
  }

  .main__description__text {
    width: 90%;
  }
}

/* 
extraño sass :(
*/
