:root {
  --white: #f2e8f9;
  --principal: #361965;
  --secondary: #46218e;
  --details: #9150ee;
  --black: #000016;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
  background-color: var(--principal);
  color: var(--white);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 22, 1) -10%,
    rgba(54, 25, 101, 1) 40%,
    rgba(145, 80, 238, 1) 500%
  );
}

.header {
  box-shadow: 0px 10px 15px -3px var(--black);
  background: rgb(0, 0, 22);
  background: linear-gradient(
    20deg,
    rgba(0, 0, 22, 1) -10%,
    rgba(54, 25, 101, 1) 60%,
    rgba(145, 80, 238, 1) 300%
  );
  z-index: 11;
}


.main__description {
  background-image: linear-gradient(
      rgba(54, 25, 101, 0.7),
      rgba(54, 25, 101, 0.7)
    ),
    url("../static/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

.main__description__text--violeta {
  color: var(--principal);
}

.matches {
  font: 1em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(380px, 450px));
  grid-gap: 20px 50px;
  width: 95%;
  margin: 20px;
}

.match {
  background-color: var(--details);
  display: grid;
  grid-template-columns: 100px 50px minmax(50px, auto) 50px 120px;
  grid-gap: 5px;
  height: 100px;
  border-radius: 5px;
  max-width: 650px;
  width: 100%;
}

.match__image {
  width: 50px;
  justify-self: center;
  align-self: center;
}

.match_text {
  justify-self: center;
  align-self: center;
  font-size: 1em;
}