

main {
  padding: 30px;
  min-height: 70vh;
}

.products {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
}

.product {
  background-color: var(--details);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 340px;
  width: 100%;
  border-radius: 5px;
}

.product h1 {
  text-align: center;
  font-size: 1.4em;
}

.product__image {
  width: 60%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  height: 50px;
  width: 100%;
}

